* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    text-decoration: none;
  }

  :root {
    --main-color: #5f55ce;
    --secondary-color: #433D8B;
    --bg-color: #2E236C;
    --bg-alt-color: #17153B;
    --text-color: #C8ACD6;
    --text-secondary: #917e9b;
    --normal-text: white;
}
