:root {
    --main-color: #5f55ce;
    --secondary-color: #433D8B;
    --bg-color: #2E236C;
    --bg-alt-color: #17153B;
    --text-color: #C8ACD6;
    --text-secondary: #917e9b;
    --normal-text: white;
}

/* body {
  background: url('../../assets/img/hero_bg_alt.png') no-repeat center center/cover;

} */

.admin-bg {
  background-color: var(--bg-alt-color);
}

/* login & register */
.error-message {
    color: #ff0022;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #fff;
    margin: auto;
    background: url('../../assets/img/hero_bg_alt.png') no-repeat center center/cover;
  }
  
  .login-content {
    padding: 3rem;
    background-color: var(--bg-alt-color);
  }
  
  .login h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .login p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

.bg-register {
  background: url('../../assets/img/hero_bg_alt.png') no-repeat center center/cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  height: 1000px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #fff;
    margin: 100px;
  }
  
  .register-content {
    padding: 3rem;
    background-color: var(--bg-alt-color);
  }
  
  .register h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .register p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  
  .cta-button {
    background-color: var(--main-color);
    color: var(--normal-text);
    border: 1px solid #5f55ce;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease;
    width: 100%;
  }
  
  .cta-button:hover {
    background-color: transparent;
    border: 1px solid #5f55ce;
    color: var(--main-color);
    padding: 0.80rem 1.55rem;
    font-size: 1.1rem;
  }

  .register form,
  .login form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 20px; */
    width: 500px;
  }

  .header-card {
    display: flex;
    flex-direction: column;
  }

  .login .form-group 
  .register .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .login .form-group label 
  .register .form-group label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .login .form-group input,
  .register .form-group input,
  .login .form-group textarea 
  .register .form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid transparent;
    background: var(--bg-color);
    border-radius: 4px;
    font-size: 1rem;
    color: var(--text-secondary);
    transition: border-color 0.3s ease;
  }

  .login .form-group textarea 
  .register .form-group textarea {
    resize: none;
  }
  
  .login .form-group input:focus,
  .register .form-group input:focus,
  .login .form-group textarea:focus 
  .register .form-group textarea:focus {
    border-color: var(--main-color);
    outline: none;
  }
  

  .input-card {
    display: flex;
    flex-direction: column;
  }

  .footer-card {
    width: 500px;
  }

  @media (max-width: 768px) {
    .login h1 {
      font-size: 2.25rem;
    }
  
    .login p {
      font-size: 1rem;
    }
    .register form,
    .login form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* gap: 20px; */
      width: 300px;
    }
    .footer-card {
      width: 300px;
    }
  }
  
